@font-face {
    font-family: 'Lucida';
    src: url('fonts/Lucida-Grande.eot');
    src: url('fonts/Lucida-Grande.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lucida-Grande.woff') format('woff'),
         url('fonts/Lucida-Grande.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav ul, nav ol {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

*{ margin: 0; padding: 0; }

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a{ text-decoration: none; }

body{ font-family: 'Lucida'; }

header{ background: #030e12; }

	header .container { position: relative; }

	header nav{ position: absolute; right: 0%; top: 0%; width: 50%; }

	header nav a{ color: #c0c0c0; font-size: 0.75em; }

.container{ margin:0 auto; width: 75%; } /* 940px */

.floated, header nav li{ display: inline-block; vertical-align:top; }

.gradient{ background: #ceced0; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlY2VkMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  #ceced0 0%, #ffffff 2%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ceced0), color-stop(2%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ceced0 0%,#ffffff 2%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ceced0 0%,#ffffff 2%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ceced0 0%,#ffffff 2%); /* IE10+ */
background: linear-gradient(top,  #ceced0 0%,#ffffff 2%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceced0', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

}

.gradient-1{ background: #939393; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkzOTM5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzViNWI1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMTM5MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #939393 0%, #5b5b5b 49%, #313939 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#939393), color-stop(49%,#5b5b5b), color-stop(100%,#313939)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #939393 0%,#5b5b5b 49%,#313939 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #939393 0%,#5b5b5b 49%,#313939 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #939393 0%,#5b5b5b 49%,#313939 100%); /* IE10+ */
background: linear-gradient(top,  #939393 0%,#5b5b5b 49%,#313939 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939393', endColorstr='#313939',GradientType=0 ); /* IE6-8 */
}

.primary{ width: 65.95744680%; }

.rounded{ border-radius: 5px; }

.secondary{ width: 29.78723404%; }

#bottom{ background: #2e2e2e; }

#slider{ width: 100%; height: 100%; }

#slider img, .primary img, .secondary img{ max-width: 100%; }

#top{ background: url("images/footer-top-bg.jpg"); }































