@font-face {
    font-family: 'Lucida';
    src: url('fonts/Lucida-Grande.eot');
    src: url('fonts/Lucida-Grande.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lucida-Grande.woff') format('woff'),
         url('fonts/Lucida-Grande.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav ul, nav ol {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

*{ margin: 0; padding: 0; }

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a{ text-decoration: none; }

aside input{ width: 100px; }

body{ font-family: 'Lucida'; font-size: 0.75em; }

header{ background: #030e12; }

header .container { position: relative; }

header nav{ background: green; padding: 10px 0; overflow: hidden; position: absolute; right: 0; top: 30px; width: 58.8297872%;} /* 553px / 940px */

header nav  ul{ overflow: hidden; }

header nav li{ border-left: 1px solid #4b4b4b; border-right:1px solid #5d5d5d; color: #c0c0c0; display: block; float: left; padding: 4px 3.6166365% 4px 3.6166365%; } /* 20px / 553px */

	header nav li:last-child{ border-right:none;}

	header nav li:first-child{ border-left: none;}

	header nav li:last-child img{ vertical-align: middle; }

	header nav a{  color: inherit; }

hgroup{ margin: 0 0 15px 0; }

p{ line-height: 1.5em; }

.borders{ border: 1px solid #dddddd; }

.boxes{ /*border-bottom:1px solid #d1d1d1;*/ border:1px solid #d1d1d1; margin: 0 0 20px 0; padding: 15px 0 15px 3.19148936%; position: absolute; top: -38px; z-index:100; }

	.boxes h3{ padding: 0 0 8px 0; } 

	.boxes p{ padding: 8px 0; }

	.boxes a, .more-link { color: #4797b8; }

	.boxes a{ text-decoration: underline; }

	.boxes h3{ border-bottom: 1px dotted #000; font-family:Liberation Sans; font-size: 1.58em; font-weight: bold; }

.boxes article{ margin: 0 3.19148936% 0 0; position: relative; width:28.191489%; } /* 265px / 940px */
	
	.boxes article div{ position: absolute; right:0; top: 17px; }

	.boxes article img{ max-width: 100%; }
	
	.boxes article:nth-child(2) div, .boxes article:nth-child(3) div{ width: 31.69811320%; }

	.boxes article:nth-child(1) h3, .boxes article:nth-child(1) p{ margin: 0 25.723404% 0 0; } /* 76px/ 940px */

	.boxes article:nth-child(2) h3, .boxes article:nth-child(2) p{ margin: 0 32.723404% 0 0; }

	.boxes article:nth-child(3) h3, .boxes article:nth-child(3) p{ margin: 0 28.72340425% 0 0; }

	.boxes article:nth-child(1) div{ width: 25.28301886%; }

.boxes-wrap .container{ position: relative; }

.container{ margin:0 auto; max-width:940px; /*max-width: 60em;*/ /*max-width:68%;*/ } /* 940px */

.floated { display: inline-block; vertical-align:top; }

.feature-img{ max-width:612px; padding: 5px; }

.gradient{ background: #ceced0; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlY2VkMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  #ceced0 0%, #ffffff 2%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ceced0), color-stop(2%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ceced0 0%,#ffffff 2%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ceced0 0%,#ffffff 2%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ceced0 0%,#ffffff 2%); /* IE10+ */
background: linear-gradient(top,  #ceced0 0%,#ffffff 2%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceced0', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */

}

.gradient-1{ background: #939393; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkzOTM5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzViNWI1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMTM5MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #939393 0%, #5b5b5b 49%, #313939 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#939393), color-stop(49%,#5b5b5b), color-stop(100%,#313939)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #939393 0%,#5b5b5b 49%,#313939 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #939393 0%,#5b5b5b 49%,#313939 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #939393 0%,#5b5b5b 49%,#313939 100%); /* IE10+ */
background: linear-gradient(top,  #939393 0%,#5b5b5b 49%,#313939 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#939393', endColorstr='#313939',GradientType=0 ); /* IE6-8 */
}

.gradient-2{ background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* IE10+ */
background: linear-gradient(top,  #ffffff 0%,#efefef 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-8 */
 }

 .meta a{ color: #827b74; }

.primary{ margin: 0 3.723404% 0 0; width: 65.95744680%;  } /* 620px / 940px */ /*  20px / 940px */

	.primary h1 a, .primary h2 a{ color: #000; font-size: 1.75em; }

	.primary article{ margin: 0 0 50px 0; }

.rounded{ border-radius: 5px; }

.secondary{ width: 29.78723404%; }

#bottom{ background: #2e2e2e; }

#main{ padding: 115px 0 0 0; }

#main-post h1{ margin: 0 0 10px 0; }

#main-post h2{ color: #827b74; }

#slider img, .primary img, .secondary img{ max-width: 100%; }

#top{ background: url("images/footer-top-bg.jpg"); }

@media screen and ( max-width: 768px){ 

	body{ color: red; }

	header nav{ width: 100%; top: 0; }
}

@media screen and (max-width: 624px){ 

	body{ color: purple; }

}

@media screen and (max-width: 600px){ 

	body{ color: green; }

	header nav{ top: 0; width: 100%; }
	
	header nav a{ font-size: 10px; }

	header nav li{ padding: 0 1.8083182%;

}

@media screen and (max-width: 320px){ 

	body{ color: yellow; }

}

@media screen and (max-width: 480px){ 

	body{ color: purple; }

}































